aniso8601==7.0.0
antiorm==1.2.1
appdirs==1.4.4
arabic-reshaper==2.1.1
argon2-cffi==20.1.0
asgiref==3.4.1
async-generator==1.10
attrs==21.4.0
autobahn==21.11.1
Automat==20.2.0
autopep8==1.5.7
Babel==2.9.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
bleach==3.1.5
blis==0.7.5
boto3==1.17.2
botocore==1.20.2
Brotli==1.0.9
brython==3.9.1
bs4==0.0.1
catalogue==2.0.6
certifi==2020.12.5
cffi==1.15.0
channels==3.0.4
chardet==4.0.0
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==7.1.2
colorama==0.4.3
constantly==15.1.0
cryptography==36.0.1
cssselect2==0.4.1
cycler==0.10.0
cymem==2.0.6
daphne==3.0.2
db==0.1.1
db-sqlite3==0.0.1
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
distlib==0.3.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.2.8
django-allauth==0.39.1
django-autoslug==1.9.8
django-bootstrap==0.2.4
django-bootstrap-modal-forms==2.2.0
django-bootstrap3==10.0.1
django-bootstrap4==2.3.1
django-ckeditor==6.1.0
django-cors-headers==3.8.0
django-countries==5.3.3
django-crispy-forms==1.10.0
django-debug-toolbar==1.10.1
django-easy-pdf==0.1.1
django-environ==0.4.5
django-extensions==3.0.2
django-filter==2.3.0
django-forms-bootstrap==3.1.0
django-heroku==0.3.1
django-hosts==4.0
django-import-export==2.2.0
django-js-asset==1.2.2
django-multiselectfield==0.1.12
django-richtextfield==1.6
django-storages==1.11.1
django-subdomains==2.1.0
django-summernote==0.8.11.6
django-widget-tweaks==1.4.1
djangorestframework==3.7.3
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
fontawesome-pro==5.15.3
fonttools==4.27.1
future==0.18.2
futures==3.1.1
geojson==2.5.0
gevent==20.9.0
gmaps==0.9.0
google-services-api==0.0.8
goslate==1.5.1
graphene==2.1.8
graphene-django==2.13.0
graphene-file-upload==1.2.2
graphql-core==2.3.2
graphql-relay==2.0.1
graphviz==0.14
greenlet==1.0a1
gTTS==2.2.2
gTTS-token==1.1.3
gunicorn==19.9.0
html5lib==1.1
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
install==1.3.5
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
kiwisolver==1.2.0
langcodes==3.3.0
MarkupPy==1.14
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.3.1
mistune==0.8.4
murmurhash==1.0.6
mysql-connector-python==8.0.20
mysqlclient==2.0.1
nbclient==0.5.0
nbconvert==6.0.2
nbformat==5.0.7
nest-asyncio==1.4.0
nltk==3.5
notebook==6.1.4
numpy==1.19.1
oauthlib==3.0.1
odfpy==1.4.1
onetimepad==1.4
opencv-python==4.4.0.42
openpyxl==3.0.5
packaging==20.4
pandas==1.3.4
pandocfilters==1.4.2
parso==0.7.1
pathy==0.6.1
pep8==1.7.1
phonenumbers==8.12.28
pickleshare==0.7.5
Pillow==8.3.2
Pint==0.16.1
pipenv==2020.11.15
playsound==1.2.2
preshed==3.0.6
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.7
protobuf==3.12.2
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.21
pydantic==1.8.2
PyDictionary==2.0.1
pydot==1.4.1
pydyf==0.1.1
pygame==1.9.6
Pygments==2.6.1
PyJWT==1.7.1
pymongo==3.4.0
PyMySQL==1.0.2
pyOpenSSL==21.0.0
pyowm==3.2.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.0
pyphen==0.11.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.0
pyqt5-tools==5.15.0.1.7.1
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.17.3
PySimpleGUI==4.29.0
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.1
python-decouple==3.1
python-dotenv==0.14.0
python3-openid==3.1.0
PythonTurtle==0.3.2
pytz==2021.3
pywin32==228
pywinpty==0.5.7
PyYAML==3.13
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
razorpay==1.2.0
regex==2020.11.13
reportlab==3.5.56
requests==2.25.1
requests-oauthlib==1.2.0
Rx==1.6.1
s3transfer==0.3.4
selenium==3.141.0
Send2Trash==1.5.0
service-identity==21.1.0
singledispatch==3.4.0.3
six==1.15.0
smart-open==5.2.1
soupsieve==2.0.1
spacy==3.2.0
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SQLAlchemy==1.2.19
sqlparse==0.4.2
srsly==2.4.2
static3==0.7.0
stripe==2.27.0
tablib==3.0.0
terminado==0.8.3
testpath==0.4.4
thinc==8.0.13
tinycss2==1.1.0
tkcalendar==1.6.1
toml==0.10.2
tornado==6.0.4
tqdm==4.54.1
traitlets==4.3.3
twilio==6.51.1
Twisted==21.7.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typer==0.4.0
typing-extensions==4.0.1
tzdata==2021.5
Unidecode==1.1.1
Unipath==1.1
urllib3==1.26.2
virtualenv==20.0.31
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
wasabi==0.8.2
wcwidth==0.2.5
weasyprint==53.3
webencodings==0.5.1
whitenoise==5.1.0
widgetsnbextension==3.5.1
xhtml2pdf==0.2.5
xlrd==2.0.1
xlwt==1.3.0
zope.event==4.5.0
zope.interface==5.4.0
zopfli==0.1.9
